@import url(/src/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.btn-download {
    width: 70px;
    height: 30px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    border-radius: 10px;
    background-color: #e40d05;
    color: #fff;
    cursor: pointer;
}

.btn-download:hover {
    transform: scale(1.1);
}

/* CSS relacionado a imagem de fundo */

#bg-img {
    z-index: -2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bg-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.7);
}

/* CSS relacionado ao conteúdo principal (main) */

main {
    position: relative;
    font-family: 'VT323', monospace;
    color: #eee;
    display: flex;
    flex-direction: column;
    padding: 25px 12%;
    max-width: 100%;
    max-height: 100vh;
}

.homepage-link {
    position: absolute;
    top: 10;
    left: -7px;
    width: 10%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 128, 201, 0.9);
    box-shadow: 5px 3px 3px #aaa;
}

#home-link {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

#home-link:hover {
    transition: 0.3s;
    transform: scale(0.8);
}

.container {
    background-color: rgba(64, 128, 201, 0.9);
    width: 100%;
    height: 100vh;
    border: 20px ridge #b3b3b3;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 1rem;
}

.principal-title {
    color: #eee;
    font-size: 30px;
    min-height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 4px #000;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#mx-title {
    color: #ff0;
    font-style: italic;
}

.paragraph {
    font-size: 20px;
    padding: 1em;
    width: 80%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* CSS relacionado as divs dos jogos */

.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 15px ridge #b3b3b3;
    background-color: #03a871;
    box-shadow: 3px 3px 3px #000;
    min-width: 100%;
    min-height: 65%;
    max-height: 65%;
    padding: 1rem;
    gap: 0.5rem;
}

.game-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#megaman1 {
    background-image: url('/src/img/megamanx-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman2 {
    background-image: url('/src/img/megamanx2-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman3 {
    background-image: url('/src/img/megamanx3-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman4 {
    background-image: url('/src/img/megamanx4-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman5 {
    background-image: url('/src/img/megamanx5-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman6 {
    background-image: url('/src/img/megamanx6-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman7 {
    background-image: url('/src/img/megamanx7-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#megaman8 {
    background-image: url('/src/img/megamanx8-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.tag-snes {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6603a8;
    padding: 5px;
    border-radius: 5px;
}

.tag-ps1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #038fa8;
    padding: 5px;
    border-radius: 5px;
}

.tag-ps2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #37a803;
    padding: 5px;
    border-radius: 5px;
}

.game-img:hover {
    transition: 0.5s;
    transform: translate(20px, -10px);
    cursor: pointer;
}

/* CSS relacionado a página de informações */

.container-info {
    background-color: rgba(64, 128, 201, 0.9);
    border: 20px ridge #b3b3b3;
    width: 100%;
    height: 90vh;
    padding: 1rem;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* text-align: center; */
    gap: 1rem;
}

/* Informações painel esquerdo*/

.info-left {
    width: 40%;
    min-height: 100%;
    border: 15px ridge #b3b3b3;
    background-color: #03a871;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    overflow: auto;
}

.logo {
    width: 100%;
    min-height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.bold {
    font-weight: 900;
}

.features-list {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    gap: 0.5rem;
    /* border: 1px solid red; */
}

.features {
    width: 100%;
    min-height: 69%;
    padding: 0.5rem;
}

/* Informações painel direito*/

.info-right {
    width: 60%;
    min-height: 100%;
    border: 15px ridge #b3b3b3;
    background-color: #03a871;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.trailer-video {
    width: 100%;
    min-height: 90%;
}

.caption {
    font-size: 30px;
    text-align: center;
}